<!DOCTYPE html>
{% extends 'base.html' %}

{% load static %}

{% block content %}
<center>
    <div class="container" style="margin-bottom:100px">
<h3>Register</h3>
<form method="POST">
    {% csrf_token %}
<div class="mb-3">
  <label  class="form-label">Username</label>
  <input type="text" class="form-control" name="u"  placeholder="Enter the Username">
</div>
    <div class="mb-3">
  <label  class="form-label">Password</label>
  <input type="password" class="form-control"  name="p" placeholder="Enter the Password">
</div>
    <div class="mb-3">
  <label  class="form-label">Confirm Password</label>
  <input type="password" class="form-control"  name="cp" placeholder="Enter the Confirm Password">
</div>

      <div class="mb-3">
  <label  class="form-label">First Name</label>
  <input type="text" class="form-control"  name="f" placeholder="Enter the First Name">
</div>
      <div class="mb-3">
  <label  class="form-label">last Name</label>
  <input type="text" class="form-control"  name="l" placeholder="Enter the Last Name">
</div>
      <div class="mb-3">
  <label  class="form-label">Email</label>
  <input type="text" class="form-control"  name="e" placeholder="Enter the Email">
</div>


    <div class="mb-3">

  <input type="submit" class="form-control btn btn-secondary">
</div>
</form>
        </div>
</center>

{% endblock %}